<div class="c-media__obj-wrapper">
    {{#if image.link}}<a class="c-media__link" href="{{image.link}}">{{/if}}
        <div class="c-media__image-wrapper">
            <div class="c-media__image">
                <img class="o-fit" src="{{image.src}}" />
            </div>
        </div>
    {{#if image.link}}</a>{{/if}}
</div>