---
layout: page-no-header
title: "Privacy Policy - Brightside Media Group"
---
<div class="u-margin-block-start-large"></div>

{{> bmg/components/text/text-block bmg/pages/privacy/text-block noSpacingBottom=true}}