:root {
	--aspect-ratio: 1 / 1;
}

.o-ratio {
	position: relative;
	aspect-ratio: var(--set-aspect-ratio, var(--aspect-ratio));

	&__content,
	&>iframe,
	&>embed,
	&>object,
	&>picture {
		@include absolute(0, 0, 0, 0);
	}

	@supports not (aspect-ratio: 1 / 1) {
		&::before {
			content: "";
			float: left;
			padding-block-start: calc((1 / (var(--set-aspect-ratio, var(--aspect-ratio)))) * 100%);
		}

		&::after {
			content: "";
			display: block;
			clear: both;
		}
	}

	&--16\:9 {
		--set-aspect-ratio: 16 / 9;
	}

	&--4\:3 {
		--set-aspect-ratio: 4 / 3;
	}

	&--3\:2 {
		--set-aspect-ratio: 3 / 2;
	}

	&--3\:4 {
		--set-aspect-ratio: 3 / 4;
	}

	&--2\:1 {
		--set-aspect-ratio: 2 / 1;
	}

	&--3\:1 {
		--set-aspect-ratio: 3 / 1;
	}

	&--1\:2 {
		--set-aspect-ratio: 1 / 2;
	}

	&--1\:3 {
		--set-aspect-ratio: 1 / 3;
	}
}
