.a-image {
    width: var(--image--width);
    height: var(--image--height);
    display: var(--image--display);
    opacity: var(--image--opacity);
    visibility: var(--image--visibility);
    display: inline-block;
}
