.c-video-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-self: stretch;

    &.is-playing {
        --btn-play--display: none;
        --image--opacity: 0;
        --image--visibility: hidden;
    }
}

.c-video-main {
    display: grid;
    grid-template-areas: "image" "video";
    grid-template-rows: auto;
    grid-template-columns: auto;
    width: 100%;
    overflow: hidden;

    .c-image {
        grid-area: image;
        grid-row: 1 / -1;
        z-index: 2;
    }
}

.c-video {
    grid-area: video;
    grid-row: 1 / -1;
    width: 100%;
    z-index: 1;

    &:not(.is-youtube) {
        align-self: var(--video--align-self, center);
    }

    &.is-youtube {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%; // to preserve aspect ratio youtube video

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;

            @include mq($until: desktop) {
                min-height: 282px; // to preserve ratio
            }
        }
    }
}

.c-btn--play  {
    width:65px;
    height:65px;
    border-radius: 50%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
	--set-brand__btn--display: block;
	--set-brand__btn--position: absolute;
	--set-brand__btn--padding: var(--brand__spacing);
	--set-brand__btn--z-index: 3;
	--set-brand__btn--background-color: rgb(var(--brand__color--primary));
	--brand__btn--justify-content: center;
	--brand__svg--fill: rgb(var(--brand__color--white));
	--brand__svg--height: 25px;
	--brand__svg--width: 20px;
	--brand__svg--margin-top: 3px;
	--brand__svg--margin-inline-start: 4px;

    @include hover {
        text-decoration: none;
        background-color: rgb(var(--brand__color--secondary));

        .a-svg {
            animation-name: video_play;
            animation-duration: 0.5s;
            animation-iteration-count: 1;
            animation-direction: alternate;
        }
    }
}

@keyframes video_play {
	0%{
		transform:rotate(0);
	}
	50%{
		transform:rotate(80deg);
	}
	80%{
		transform:rotate(-30deg);
	}
	100%{
		transform:rotate(0);
	}
}
