$brand__color: #00b2da !default;
$brand__color-invert: #fff !default;

.c-overview {
	display: grid;
	min-height: 100vh;
	@supports (min-height: -webkit-fill-available) {
		min-height: -webkit-fill-available;
	}
	height: 100%;
	background-color: #f5f5f5;

	@include mq($from: tablet) {
		grid-template-columns: auto 1fr;
	}
}

.c-nav {
	padding: var(--brand__spacing);
	background-color: var(--brand__nav--bgcolor, #{$brand__color});
	color: $brand__color-invert;

	@include mq($from: desktop) {
		min-height: 100vh;
		height: 100%;
	}
}

.c-nav__list {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	color: $brand__color-invert;
}

.c-nav__item {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-block-end: var(--brand__spacing);
}

.c-nav__link {
	display: flex;
	width: 100%;
	align-items: center;
	color: $brand__color-invert;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 21px;
	text-decoration: none;
	text-align: left;
	padding-block-end: var(--brand__spacing--small);
	border-bottom: 1px solid $brand__color-invert;
	border-width: 0 0 1px 0;
	background-color: transparent;

	&:hover {
		.c-nav-link__title {
			opacity: 0.6;
		}
	}
}

.c-nav-link {
	display: flex;
	width: 100%;
	align-items: center;
	color: $brand__color-invert;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 21px;
	text-decoration: none;
	text-align: left;
	padding-block-end: var(--brand__spacing);
	background-color: transparent;
	flex-wrap: wrap;

	&:hover {
		.c-nav-link__title,
		.c-nav-link__sub-title {
			opacity: 0.6;
		}
	}
}

.c-nav-link__logo {
	flex-grow: 0;
	display: inline-block;
	margin: 0 0 var(--brand__spacing--small);
	max-width: 250px;
}

.c-nav-link__title {
	color: $brand__color-invert;
	text-decoration: none;
	font-size: 32px;
	line-height: 40px;
	text-transform: uppercase;
	margin-block-end: 0;
	padding-block-end: var(--brand__spacing--small);
}

.c-nav-link__sub-title {
	font-size: 16px;
	align-self: flex-end;
}

.c-nav-item__link {
	display: flex;
	width: 100%;
	align-items: center;
	color: $brand__color-invert;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 21px;
	text-decoration: none;
	padding-block-end: var(--brand__spacing--small);
	border-bottom: 1px solid $brand__color-invert;

	&:hover {
		.c-nav-link__text,
		.c-nav-link__icon {
			opacity: 0.6;
		}
	}
}

.c-nav-link__text {
	padding-inline-end: var(--brand__spacing--small);
}

.c-nav-link__icon {
	margin-inline-start: auto;
	display: flex;
	flex-shrink: 0;
}

.c-nav-sub__item {
	margin-block-end: var(--brand__spacing--tiny);
}

.c-nav-sub__link {
	display: flex;
	width: 100%;
	align-items: center;
	color: $brand__color-invert;
	font-size: 16px;
	line-height: 21px;
	text-decoration: none;

	&:hover {
		opacity: 0.7;
	}
}

.c-nav-content {
	padding: var(--brand__spacing);
	@include mq($from: desktop) {
		min-height: 100vh;
	}

	.o-grid {
		height: auto;
	}
}

.c-block-wrapper {
	display: flex;
	padding-block-end: var(--brand__spacing);

	&--overview {
		height: 250px;

		.c-block,
		.c-block__item {
			width: 100%;
			flex-grow: 1;
		}

		.c-block__list {
			overflow: hidden;
			overflow-y: auto;

			.c-block__item {
				padding: var(--brand__spacing--tiny) 0;
			}

			.c-block-item__link {
				flex-direction: row;
				justify-content: space-between;
			}

			.c-block-item__link {
				zoom: 80%;
			}

			.c-block-item-link__text {
				padding: 0;
			}
		}

		.c-block-item__link {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
		}

		.c-block-item-link__text {
			text-transform: uppercase;
			font-weight: bold;
			font-size: 20px;
			line-height: 28px;
			padding-block-end: var(--brand__spacing--tiny);
		}

		.c-block-item-link__info {
			text-transform: uppercase;
			padding-block-end: var(--brand__spacing--small);
			opacity: 0.6;
		}

		.c-block-item-link__icon {
			justify-content: center;
			flex-shrink: 0;
			padding-inline-end: 0;
		}
	}
}

.c-block {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: $brand__color-invert;
	padding: var(--brand__spacing);
}

.c-block__link {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	text-transform: uppercase;
	font-size: 28px;
	line-height: 35px;
	text-decoration: none;
}

.c-block-link__text {
	display: flex;
	color: #434343;
	padding-block-end: var(--brand__spacing);
	@include mq($from: desktop) {
		padding-block-end: var(--brand__spacing--small);
	}
}

.c-block-link__icon {
	display: flex;
	flex-shrink: 0;
}

.c-block__title {
	text-transform: uppercase;
	color: var(--brand__block-title--color, #3c3c3c);
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
	padding-block-end: var(--brand__spacing);
}

.c-block__sub-title {
	text-transform: uppercase;
	color: #3c3c3c;
	font-size: 14px;
	line-height: 17px;
	font-weight: bold;
	padding-block-end: var(--brand__spacing);
}

.c-block__list {
	display: flex;
	flex-direction: column;
}

.c-block__item {
	display: flex;
	align-items: center;
	padding: var(--brand__spacing--small) 0;
	border-bottom: 1px solid #ebebeb;

	&:first-child {
		padding-block-start: 0;
	}

	&:last-child {
		padding-block-end: 0;
		border-bottom: none;
	}
}

.c-block-item__link {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	text-decoration: none;
	color: #3c3c3c;

	&:hover {
		opacity: 0.8;
	}
}

.c-block-item-link__icon {
	display: flex;
	flex-shrink: 0;
	padding-inline-end: var(--brand__spacing--small);
}

.c-block-item-link__text {
	font-size: 16px;
	line-height: 21px;
}

.c-icons {
	padding-block-end: var(--brand__spacing);

	@include mq($from: desktop) {
		padding-block-end: 0;
	}

	.c-block-item__link {
		&:hover {
			opacity: 1;
		}
	}
}

.c-icons__list {
	display: flex;
	flex-direction: column;

	@include mq($from: tablet) {
		flex-direction: row;
		justify-content: flex-end;
	}
}

.c-icons__item {
	padding-block-end: var(--brand__spacing--small);

	@include mq($from: tablet) {
		padding-inline-end: var(--brand__spacing--small);
		padding-block-end: 0;
	}
}
