<article class="o-card m-card m-card--crop-item u-scroll-margin ">
	<div class="o-card__obj-wrapper">
		{{> common/atoms/media/media-item}}
	</div>
    <div class="o-card__body-wrapper">
        <h3 class="o-card__title u-txt-breakword">
            <a href="#" class="o-card__overlay">{{title}}</a>
        </h3>
		<div class="o-card__body">
			{{> common/atoms/rich-text }}
		</div>
    </div>
</article>
