<footer class="footer u-bg-color-black">
	<div class="o-wrapper">
		<div class="footer__content">
			<div class="footer__logo">
				<a href="/" aria-label="Small white logo Brightside Media Group">
					{{> common/atoms/svg-icon
					iconId="logo-small"
					iconWidth=47
					iconHeight=60
					}}
				</a>
			</div>
			<div class="footer__items">
				<ul>
					<li>
						<span>
							© 2026 BRIGHTSIDE MEDIA GROUP. All rights reserved
						</span>
					</li>
					<li>
						<span>
							BE 0805.334.382 - BE 1023.236.073
						</span>
					</li>
					<li>
						<span>
							<a href="/privacy-policy">
								Privacy policy
							</a>
						</span>
					</li>
					<li>
						<span>
							Website by <a href='https://www.bou3.be' target="_blank">BOU3</a>
						</span>
					</li>
				</ul>
			</div>
			<div class="footer__socials">
				<div class="o-socials">
					<ul>
						<li>
							<div class="m-social-icon">
								<a href="/" aria-label="logo social media linkedin">
									{{> common/atoms/svg-icon
									iconId="linkedin"
									iconWidth=19
									iconHeight=19
									}}
								</a>
							</div>
						</li>
						<li>
							<div class="m-social-icon">
								<a href="/" aria-label="logo social media mail">
									{{> common/atoms/svg-icon
									iconId="mail"
									iconWidth=24
									iconHeight=19
									}}
								</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>