:root {
	--card__body-wrapper--justify-content: flex-start;
	--card__body-wrapper--align-items: normal;
	--card__body-wrapper--padding: 0;
	--card__footer--margin-top: var(--brand__spacing--small);
}

.o-card {
	position: relative;
	display: flex;
	flex-direction: var(--card--flex-direction, column);
	align-items: var(--card--align-items);
	flex: 1 1 auto; // Fill height of container in case part of grid
	height: 100%;
	background-color: var(--card--background-color, transparent);
	box-shadow: var(--card--box-shadow);
}

.o-card__obj-wrapper {
	position: relative;
	flex-shrink: 0;
	flex-grow: 0;
	flex-basis: var(--card__obj-wrapper--flex-basis);
	width: 100%;
	max-width: var(--card__obj-wrapper--max-width, 100%);
	background-color: var(--card__obj-wrapper--background-color, transparent);
	margin-bottom: var(--card__obj-wrapper--margin-bottom);
	margin-inline-end: var(--card__obj-wrapper--margin-inline-end);
	line-height: 1px; // prevent white space
}

.o-card__body-wrapper {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: var(--card__body-wrapper--justify-content);
	align-items: var(--card__body-wrapper--align-items);
	padding: var(--card__body-wrapper--padding);
	background-color: var(--card__body-wrapper--background-color, transparent);
	transition: var(--card__body-wrapper--transition);
}

.o-card__title {
	padding: var(--card__title--padding);
	background-color: var(--card__title--background-color, transparent);
	transition: var(--card__title--transition);
	z-index: var(--card__title--z-index);
}


.o-card__body {
	color: var(--card__body--color);
	padding: var(--card__body--padding);
	background-color: var(--card__body--background-color, transparent);
	transition: var(--card__body--transition);
	opacity: var(--card__body--opacity);
}

.o-card__footer {
	margin-top: var(--set-card__footer--margin-top, var(--card__footer--margin-top));
	display: var(--set-card__footer--display, var(--card__footer--display, flex));
}

.o-card__overlay {
	&::after {
		content: "";
		@include absolute(0, 0, 0, 0, 2);
	}
}
