$unicode-range-latin: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
  U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
$unicode-range-latin-ext: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F,
  U+A720-A7FF;
$unicode-range-cyrillic: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
$unicode-range-cyrillic-ext: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;

@include font-family(
  $brand__font-family,
  'roboto-v27-latin-300.woff2',
  $brand__font-weight--light,
  $unicode-range-latin
);

@include font-family(
  $brand__font-family,
  'roboto-v27-latin-regular.woff2',
  $brand__font-weight--regular,
  $unicode-range-latin
);

@include font-family(
  $brand__font-family,
  'roboto-v27-latin-500.woff2',
  $brand__font-weight--medium,
  $unicode-range-latin
);

@include font-family(
  $brand__font-family,
  'roboto-v27-latin-700.woff2',
  $brand__font-weight--bold,
  $unicode-range-latin
);

@include font-family(
  $brand__font-family,
  'roboto-v27-latin-ext-300.woff2',
  $brand__font-weight--light,
  $unicode-range-latin-ext
);

@include font-family(
  $brand__font-family,
  'roboto-v27-latin-ext-regular.woff2',
  $brand__font-weight--regular,
  $unicode-range-latin-ext
);

@include font-family(
  $brand__font-family,
  'roboto-v27-latin-ext-500.woff2',
  $brand__font-weight--medium,
  $unicode-range-latin-ext
);

@include font-family(
  $brand__font-family,
  'roboto-v27-latin-ext-700.woff2',
  $brand__font-weight--bold,
  $unicode-range-latin-ext
);

@include font-family(
  $brand__font-family,
  'roboto-v27-cyrillic-300.woff2',
  $brand__font-weight--light,
  $unicode-range-cyrillic
);

@include font-family(
  $brand__font-family,
  'roboto-v27-cyrillic-regular.woff2',
  $brand__font-weight--regular,
  $unicode-range-cyrillic
);

@include font-family(
  $brand__font-family,
  'roboto-v27-cyrillic-500.woff2',
  $brand__font-weight--medium,
  $unicode-range-cyrillic
);

@include font-family(
  $brand__font-family,
  'roboto-v27-cyrillic-700.woff2',
  $brand__font-weight--bold,
  $unicode-range-cyrillic
);

@include font-family(
  $brand__font-family,
  'roboto-v27-cyrillic-ext-300.woff2',
  $brand__font-weight--light,
  $unicode-range-cyrillic-ext
);

@include font-family(
  $brand__font-family,
  'roboto-v27-cyrillic-ext-regular.woff2',
  $brand__font-weight--regular,
  $unicode-range-cyrillic-ext
);

@include font-family(
  $brand__font-family,
  'roboto-v27-cyrillic-ext-500.woff2',
  $brand__font-weight--medium,
  $unicode-range-cyrillic-ext
);

@include font-family(
  $brand__font-family,
  'roboto-v27-cyrillic-ext-700.woff2',
  $brand__font-weight--bold,
  $unicode-range-cyrillic-ext
);

/* Override metric values of fallback font to match Roboto web font */
@font-face {
  font-family: Arial;
  src: local(Arial);
  font-style: normal;
  ascent-override: 100%;
  descent-override: 48%;
  line-gap-override: 0%;
}
