<div class="c-carousel
            {{#if largeSize}}c-carousel--large{{/if}}
            {{#if smallSize}}c-carousel--small{{/if}} js-carousel" data-component-parm="{}"
	data-component-class="Carousel">

	<div class="js-carousel-slides">
		<div class="c-carousel__slide">
			{{> starter/components/content/banner/banner starter/banner/banner-2 fullWidth=true}}
		</div>
		<div class="c-carousel__slide">
			{{> starter/components/content/banner/banner starter/banner/banner-1 fullWidth=true}}
		</div>
		<div class="c-carousel__slide">
			{{> starter/components/content/banner/banner starter/banner/banner-3 fullWidth=true}}
		</div>
		<div class="c-carousel__slide">
			{{> starter/components/content/banner/banner starter/banner/banner-4 fullWidth=true}}
		</div>
	</div>
</div>
