<form class="m-form" action="#">
	<fieldset class="m-form__fieldset">
		<div class="m-field">
			<label class="m-field__label" for="Subscribe">Sign up for our email newsletter</label>
			<div class="m-field__input">
				<input class="a-input a-input--text" type="email" max="40" placeholder="Your email address…"
					id="Subscribe">
				<button type="submit" class="m-field__cta a-btn a-btn--secondary a-btn--icon">
					{{> common/atoms/svg-icon iconId="subscribe-icon" iconWidth="22" iconHeight="18"}}
				</button>
			</div>
		</div>
	</fieldset>
</form>