<header class="c-header js-header" id="header" data-component-class="Header">
	<div class="c-header__wrapper">
		<nav class="c-nav-primary" aria-labelledby="primary-navigation">
			{{> starter/components/header/primary-navigation}}
		</nav>
		<nav class="c-nav-secondary" aria-labelledby="secondary-navigation">
			{{> starter/components/header/secondary-navigation}}
		</nav>
	</div>
</header>
