<div class="c-hamburger u-hide-large">
	<button type="button" class="c-hamburger__trigger c-btn c-btn--icon js-header-menu" aria-label="Menu">
		<span class="c-hamburger__line-wrapper">
			<span class="c-hamburger__line"></span>
			<span class="c-hamburger__line"></span>
			<span class="c-hamburger__line"></span>
		</span>
	</button>
</div>
