<div class="c-search js-search">
	<!-- Toggle is-active class to show/hide search form -->
	{{> starter/components/header/search-icons}}

	<div class="c-search__content u-bg-color-primary">
		<div class="o-wrapper o-wrapper--small">
			<div class="c-search__title h5">
				{{search.title}}
			</div>
			<div class="c-search__form">
				{{> starter/components/header/search-form}}
			</div>
		</div>
	</div>
</div>
