<div class="c-nav-secondary__wrapper">
	<div class="c-nav-secondary__content">
		<ul class="c-nav-secondary__list">
			{{#each secondary-navigation.items}}
			{{> starter/components/header/secondary-navigation-item}}
			{{/each}}
		</ul>
	</div>
</div>
