<div class="a-hamburger">
	<button type="button" class="a-hamburger__trigger a-btn js-toggle-nav">
		<span class="a-btn__label">
			Menu
		</span>
		<span class="a-btn__icon"></span>
	</button>
</div>
