<div class="a-legend">
    <ul>
        {{#each legend.items}}
        <li>
            <div class="a-legend-item__icon">
                {{> common/atoms/svg-icon
                iconId=iconId
                iconWidth="20"
                iconHeight="20"
                }}
            </div>
            <div class="a-legend-item__label">
                {{label}}
            </div>
        </li>
        {{/each}}
    </ul>
</div>