.u-scroll-none\@mobile {
	position: fixed;
	height: 100%;
	width: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
	@include mq($from: large) {
		overflow-y: unset;
		overflow-x: unset;
		position: relative;
		height: auto;
	}
}

.u-scroll-none {
	overflow-y: hidden;
	overflow-x: hidden;
}
