<section class="a-back-to-top">
    <a class="a-back-to-top__link" href="#header" aria-label="Back to top">
        <span class="a-back-to-top__icon">
			{{> common/atoms/svg-icon
				iconId="back-to-top-icon"
				iconWidth="60"
				iconHeight="60"
			}}
        </span>
    </a>
</section>
