<li class="c-doormat-tab {{#if isActive}}is-active{{/if}} js-doormat-tab">
	<button class="c-doormat-tab__button js-toggle-doormat-tab">
		{{#if imageUrl}}
		<img class="c-doormat-tab__icon" src="{{imageUrl}}" alt="globe">
		{{/if}}
		<span class="c-doormat-tab__title">{{title}}</span>
	</button>

	<div class="c-doormat-tab__content-wrapper">
		<div class="c-doormat-tab__content">
			{{> _product-card title="Title" imageUrl=assets/images/placeholders/placeholder-3-2.png"
			alt="placeholder" link="#"}}
			{{> _product-card title="Title" imageUrl=assets/images/placeholders/placeholder-3-2.png"
			alt="placeholder" link="#"}}
			{{> _product-card title="Title" imageUrl=assets/images/placeholders/placeholder-3-2.png"
			alt="placeholder" link="#"}}
			{{> _product-card title="Title" imageUrl=assets/images/placeholders/placeholder-3-2.png"
			alt="placeholder" link="#"}}
			{{> _product-card title="Title" imageUrl=assets/images/placeholders/placeholder-3-2.png"
			alt="placeholder" link="#"}}
			{{> _product-card title="Title" imageUrl=assets/images/placeholders/placeholder-3-2.png"
			alt="placeholder" link="#"}}

			<div class="c-doormat-card c-doormat-card--category-link">
				<a class="c-doormat-card__link" href="#" aria-label="{{title}}"></a>
				<div class="o-ratio o-ratio--3:2">
					<div class="c-doormat-card__title-wrapper o-ratio__content">
						<div class="c-doormat-card__title">All {{title}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</li>
