<div class="c-doormat-card c-doormat-card--product">
    <a class="c-doormat-card__link" href="#" aria-label="{{title}}"></a>
    <figure class="c-doormat-card__image o-ratio o-ratio--3:2">
        <img class="o-ratio__content" src="{{imageUrl}}" alt="{{alt}}">
    </figure>
    <div class="c-doormat-card__title-wrapper">
        <div class="c-doormat-card__title">{{title}}</div>
    </div>
</div>