@mixin scrollbar($show: true) {
	@if $show {
		@supports (scrollbar-width: thin) {
			scrollbar-width: thin;
			scrollbar-color: var(--scrollbar-thumb--bg, rgb(var(--brand__color--gray)))
				var(--scrollbar--bg, rgb(var(--brand__color--gray-light)));
		}

		@supports not (scrollbar-width: thin) {
			&::-webkit-scrollbar {
				width: 8px;
				height: 8px;
			}

			&::-webkit-scrollbar-track {
				background: var(--scrollbar--bg, rgb(var(--brand__color--gray-light)));
			}

			&::-webkit-scrollbar-thumb {
				background-color: var(--scrollbar-thumb--bg, rgb(var(--brand__color--gray)));
				border-radius: var(--brand__border-radius);
				-webkit-box-shadow: inset 0 0 6px rgb(var(--brand__color--gray));

				&:hover {
					--scrollbar-thumb--bg: var(--scrollbar-thunb-hover--bg, rgb(var(--brand__color--gray-dark)));
				}
			}
		}
	} @else {
		scrollbar-width: none;
		&::-webkit-scrollbar:horizontal {
			height: 0;
		}

		&::-webkit-scrollbar {
			display: none;
		}

		&::-webkit-scrollbar-track {
			display: none;
		}

		&::-webkit-scrollbar-thumb {
			display: none;
		}

		&::-webkit-scrollbar-thumb:hover {
			display: none;
		}
	}
}
