@mixin box-sizing($box-sizing-value: border-box) {
	box-sizing: $box-sizing-value;
}

@mixin box-sizing-all($box-sizing-value: border-box) {
	@include box-sizing($box-sizing-value);

	* {
		@include box-sizing($box-sizing-value);
	}
}

@mixin ifset_do($variable, $false-is-valid-value: false) {
	@if isset($variable, $false-is-valid-value) {
		@content;
	}
}

@mixin ifset($property, $variable, $false-is-valid-value: false) {
	@if isset($variable, $false-is-valid-value) {
		#{$property}: $variable;
	}
}
