<header class="c-header">
	<div class="o-wrapper">
		<div class="c-header__content">
			<div class="c-header__logo">
				{{> bmg/components/header/logo}}
			</div>
			<a class="skip-to-content" href="#content">Skip to the main content</a>
			<div class="c-header__navigation">
				{{> bmg/components/header/navigation}}
			</div>
		</div>
	</div>
</header>
