@mixin placeholder($color: $form-control-color-placeholder) {
	&::-webkit-input-placeholder {
		/* Chrome/Opera/Safari */
		color: $color;
		font-size: $form-control-size-placeholder;
	}

	&::-moz-placeholder {
		/* Firefox 19+ */
		color: $color;
		font-size: $form-control-size-placeholder;
	}

	& :-ms-input-placeholder {
		/* IE 10+ */
		color: $color;
		font-size: $form-control-size-placeholder;
	}

	&:-moz-placeholder {
		/* Firefox 18- */
		color: $color;
		font-size: $form-control-size-placeholder;
		opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
	}
}
