<div class="c-logo js-logo">
	<a class="c-logo__link a-link" href="{{logo.link}}" aria-label="logo">
		<span class="c-logo__icon u-hide-until-larger">
			{{> common/atoms/svg-icon
			iconId="logo"
			iconWidth=162
			iconHeight=60
			}}
		</span>
		<span class="c-logo__icon u-hide-larger">
			{{> common/atoms/svg-icon
			iconId="logo"
			iconWidth=162
			iconHeight=60
			}}
		</span>
	</a>
</div>