---
layout: styleguide
title: "SVG Icons sprite preview"
tags: ["styleguide"]
isWaitingForApproval: true
---

<section class="u-padding-top-large u-padding-bottom-large">
	<div class="o-wrapper">
		<h1>SVG <symbol> sprite preview</h1>

				<!--
B) Inline SVG with external sprite (IE 9-11 with polyfill only)
====================================================================================================
These SVG images make use of an URL + fragment identifiers (IDs) and refer to the regular external
SVG sprite. They may be styled via CSS. (IE 9-11 with polyfill only)
-->
		<div class="c-styleguide-icons o-grid-template o-grid-template--small-cells o-grid-gap">
			<div class="c-card-icon" title="arrow-left">
				<div class="o-ratio">
					<div class="o-ratio__content c-card-icon__wrapper">
						<!-- arrow-left -->
						<svg
							class="c-card-icon__svg svg-arrow-left-dims">
							<use xlink:href="/sites/starter/assets/svg/svg-symbols.svg#arrow-left"></use>
						</svg>
					</div>
				</div>
				<div class="c-card-icon__body">arrow-left</div>
			</div>
			<div class="c-card-icon" title="arrow-right">
				<div class="o-ratio">
					<div class="o-ratio__content c-card-icon__wrapper">
						<!-- arrow-right -->
						<svg
							class="c-card-icon__svg svg-arrow-right-dims">
							<use xlink:href="/sites/starter/assets/svg/svg-symbols.svg#arrow-right"></use>
						</svg>
					</div>
				</div>
				<div class="c-card-icon__body">arrow-right</div>
			</div>
			<div class="c-card-icon" title="check">
				<div class="o-ratio">
					<div class="o-ratio__content c-card-icon__wrapper">
						<!-- check -->
						<svg
							class="c-card-icon__svg svg-check-dims">
							<use xlink:href="/sites/starter/assets/svg/svg-symbols.svg#check"></use>
						</svg>
					</div>
				</div>
				<div class="c-card-icon__body">check</div>
			</div>
			<div class="c-card-icon" title="chevron-down">
				<div class="o-ratio">
					<div class="o-ratio__content c-card-icon__wrapper">
						<!-- chevron-down -->
						<svg
							class="c-card-icon__svg svg-chevron-down-dims">
							<use xlink:href="/sites/starter/assets/svg/svg-symbols.svg#chevron-down"></use>
						</svg>
					</div>
				</div>
				<div class="c-card-icon__body">chevron-down</div>
			</div>
			<div class="c-card-icon" title="chevron-left">
				<div class="o-ratio">
					<div class="o-ratio__content c-card-icon__wrapper">
						<!-- chevron-left -->
						<svg
							class="c-card-icon__svg svg-chevron-left-dims">
							<use xlink:href="/sites/starter/assets/svg/svg-symbols.svg#chevron-left"></use>
						</svg>
					</div>
				</div>
				<div class="c-card-icon__body">chevron-left</div>
			</div>
			<div class="c-card-icon" title="chevron-right">
				<div class="o-ratio">
					<div class="o-ratio__content c-card-icon__wrapper">
						<!-- chevron-right -->
						<svg
							class="c-card-icon__svg svg-chevron-right-dims">
							<use xlink:href="/sites/starter/assets/svg/svg-symbols.svg#chevron-right"></use>
						</svg>
					</div>
				</div>
				<div class="c-card-icon__body">chevron-right</div>
			</div>
			<div class="c-card-icon" title="chevron-up">
				<div class="o-ratio">
					<div class="o-ratio__content c-card-icon__wrapper">
						<!-- chevron-up -->
						<svg
							class="c-card-icon__svg svg-chevron-up-dims">
							<use xlink:href="/sites/starter/assets/svg/svg-symbols.svg#chevron-up"></use>
						</svg>
					</div>
				</div>
				<div class="c-card-icon__body">chevron-up</div>
			</div>
			<div class="c-card-icon" title="close">
				<div class="o-ratio">
					<div class="o-ratio__content c-card-icon__wrapper">
						<!-- close -->
						<svg
							class="c-card-icon__svg svg-close-dims">
							<use xlink:href="/sites/starter/assets/svg/svg-symbols.svg#close"></use>
						</svg>
					</div>
				</div>
				<div class="c-card-icon__body">close</div>
			</div>
			<div class="c-card-icon" title="facebook">
				<div class="o-ratio">
					<div class="o-ratio__content c-card-icon__wrapper">
						<!-- facebook -->
						<svg
							class="c-card-icon__svg svg-facebook-dims">
							<use xlink:href="/sites/starter/assets/svg/svg-symbols.svg#facebook"></use>
						</svg>
					</div>
				</div>
				<div class="c-card-icon__body">facebook</div>
			</div>
			<div class="c-card-icon" title="globe">
				<div class="o-ratio">
					<div class="o-ratio__content c-card-icon__wrapper">
						<!-- globe -->
						<svg
							class="c-card-icon__svg svg-globe-dims">
							<use xlink:href="/sites/starter/assets/svg/svg-symbols.svg#globe"></use>
						</svg>
					</div>
				</div>
				<div class="c-card-icon__body">globe</div>
			</div>
			<div class="c-card-icon" title="hamburger">
				<div class="o-ratio">
					<div class="o-ratio__content c-card-icon__wrapper">
						<!-- hamburger -->
						<svg
							class="c-card-icon__svg svg-hamburger-dims">
							<use xlink:href="/sites/starter/assets/svg/svg-symbols.svg#hamburger"></use>
						</svg>
					</div>
				</div>
				<div class="c-card-icon__body">hamburger</div>
			</div>
			<div class="c-card-icon" title="instagram">
				<div class="o-ratio">
					<div class="o-ratio__content c-card-icon__wrapper">
						<!-- instagram -->
						<svg
							class="c-card-icon__svg svg-instagram-dims">
							<use xlink:href="/sites/starter/assets/svg/svg-symbols.svg#instagram"></use>
						</svg>
					</div>
				</div>
				<div class="c-card-icon__body">instagram</div>
			</div>
			<div class="c-card-icon" title="linkedin">
				<div class="o-ratio">
					<div class="o-ratio__content c-card-icon__wrapper">
						<!-- linkedin -->
						<svg
							class="c-card-icon__svg svg-linkedin-dims">
							<use xlink:href="/sites/starter/assets/svg/svg-symbols.svg#linkedin"></use>
						</svg>
					</div>
				</div>
				<div class="c-card-icon__body">linkedin</div>
			</div>
			<div class="c-card-icon" title="mail">
				<div class="o-ratio">
					<div class="o-ratio__content c-card-icon__wrapper">
						<!-- mail -->
						<svg
							class="c-card-icon__svg svg-mail-dims">
							<use xlink:href="/sites/starter/assets/svg/svg-symbols.svg#mail"></use>
						</svg>
					</div>
				</div>
				<div class="c-card-icon__body">mail</div>
			</div>
			<div class="c-card-icon" title="play">
				<div class="o-ratio">
					<div class="o-ratio__content c-card-icon__wrapper">
						<!-- play -->
						<svg
							class="c-card-icon__svg svg-play-dims">
							<use xlink:href="/sites/starter/assets/svg/svg-symbols.svg#play"></use>
						</svg>
					</div>
				</div>
				<div class="c-card-icon__body">play</div>
			</div>
			<div class="c-card-icon" title="plus">
				<div class="o-ratio">
					<div class="o-ratio__content c-card-icon__wrapper">
						<!-- plus -->
						<svg
							class="c-card-icon__svg svg-plus-dims">
							<use xlink:href="/sites/starter/assets/svg/svg-symbols.svg#plus"></use>
						</svg>
					</div>
				</div>
				<div class="c-card-icon__body">plus</div>
			</div>
			<div class="c-card-icon" title="search">
				<div class="o-ratio">
					<div class="o-ratio__content c-card-icon__wrapper">
						<!-- search -->
						<svg
							class="c-card-icon__svg svg-search-dims">
							<use xlink:href="/sites/starter/assets/svg/svg-symbols.svg#search"></use>
						</svg>
					</div>
				</div>
				<div class="c-card-icon__body">search</div>
			</div>
			<div class="c-card-icon" title="share">
				<div class="o-ratio">
					<div class="o-ratio__content c-card-icon__wrapper">
						<!-- share -->
						<svg
							class="c-card-icon__svg svg-share-dims">
							<use xlink:href="/sites/starter/assets/svg/svg-symbols.svg#share"></use>
						</svg>
					</div>
				</div>
				<div class="c-card-icon__body">share</div>
			</div>
			<div class="c-card-icon" title="twitter">
				<div class="o-ratio">
					<div class="o-ratio__content c-card-icon__wrapper">
						<!-- twitter -->
						<svg
							class="c-card-icon__svg svg-twitter-dims">
							<use xlink:href="/sites/starter/assets/svg/svg-symbols.svg#twitter"></use>
						</svg>
					</div>
				</div>
				<div class="c-card-icon__body">twitter</div>
			</div>
			<div class="c-card-icon" title="wechat">
				<div class="o-ratio">
					<div class="o-ratio__content c-card-icon__wrapper">
						<!-- wechat -->
						<svg
							class="c-card-icon__svg svg-wechat-dims">
							<use xlink:href="/sites/starter/assets/svg/svg-symbols.svg#wechat"></use>
						</svg>
					</div>
				</div>
				<div class="c-card-icon__body">wechat</div>
			</div>
			<div class="c-card-icon" title="youtube">
				<div class="o-ratio">
					<div class="o-ratio__content c-card-icon__wrapper">
						<!-- youtube -->
						<svg
							class="c-card-icon__svg svg-youtube-dims">
							<use xlink:href="/sites/starter/assets/svg/svg-symbols.svg#youtube"></use>
						</svg>
					</div>
				</div>
				<div class="c-card-icon__body">youtube</div>
			</div>
		</div>
				<!--
====================================================================================================
-->
	</div>
</section>
