<section class="c-header-search js-search">
	<button class="c-header-search__button js-toggle-search" ara-label="Search">
		<span></span>
		{{> common/atoms/svg-icon
			iconId="search"
			title="search"
		}}
	</button>
	{{> common/components/header/doormat/doormat-search}}
</section>
