<!doctype html>
<html lang="en">

<head>
	<title>{{title}}</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86">
	<meta name="description" content="{{description}}">

	<link rel="stylesheet" href="/sites/overview-page/assets/css/overview-page.css" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

	<link rel="icon" type="image/x-icon" sizes="16x16" href="/sites/starter/assets/favicons/favicon.ico">
</head>

<body>

	{{{content}}}

</body>

</html>
