---
layout: base
description: "Brightside Productions is a Belgium-based film production company developing documentaries, films, and media with strong creative vision and international partnerships."
keywords: "film production company Belgium, documentary production Belgium, film production company Europe, media production Belgium, documentary producers Belgium, international film production company, creative film production, documentary development company, European film production company, independent film production Belgium"
hasNetlifyCMS: true
---

{{> bp/components/header/header bp/pages/homepage/header}}

<main id="content">
	<!-- Content area -->
	{{{ content }}}
	<!-- End Content area -->

	{{> bp/components/footer/footer }}
</main>

