---
layout: base
description: "Brightside Productions is a Belgium-based production company that creates impactful, entertaining and meaningful work by building the perfect team around every idea. From creative talent to production experts, we handle financing, contracts and all practical details - giving creators the freedom to focus on what they do best: creating."
keywords: "film production company Belgium, documentary production Belgium, film production company Europe, media production Belgium, documentary producers Belgium, creative film production, documentary development company, European film production company, independent film production Belgium, comedy production company"
author: "BOU3 - Jonas Boudry"
hasNetlifyCMS: true
---

{{> bp/components/header/header bp/pages/homepage/header}}

<main id="content">
	<!-- Content area -->
	{{{ content }}}
	<!-- End Content area -->

	{{> bp/components/footer/footer }}
</main>

