---
layout: base
description: "Brightside Media Group is a one-stop media funding and production partner in Flanders. We provide strategic consultancy, production management, and funding solutions to help creators focus on storytelling while we handle the business."
keywords: "Media funding Flanders, Film production support, Media consultancy, Creative project funding, Media production partner, Content creator support, Project financing for media, Film & video funding, Creative media solutions, Media strategy services, Funding for audiovisual projects, How to get media funding in Flanders, Film production consultancy for creators, Media funding and production partner, Assistance for creative project funding, Media project management services in Belgium"
author: "BOU3 - Jonas Boudry"
tags: ["pages"]
hasNetlifyCMS: true
---

<main id="content">
	<!-- Content area -->
	{{{ content }}}
	<!-- End Content area -->

	{{> bmg/components/footer/footer }}
</main>
