<legend class="c-icons {{#if isDesktop}}u-hide-until-desktop{{^}}u-hide-desktop{{/if}}">
    <div class="c-icons__list">
        <div class="c-icons__item">
            <div class="c-block-item__link">
                <div class="c-block-item-link__icon">
                    <span><img src="/sites/overview-page/assets/media/icons/Approved.svg" /></span>
                </div>
                <div class="c-block-item-link__text">
                    approved by client
                </div>
            </div>
        </div>
        <div class="c-icons__item">
            <div class="c-block-item__link">
                <div class="c-block-item-link__icon">
                    <span><img src="/sites/overview-page/assets/media/icons/Waiting.svg" /></span>
                </div>
                <div class="c-block-item-link__text">
                    waiting for approval
                </div>
            </div>
        </div>
        <div class="c-icons__item">
            <div class="c-block-item__link">
                <div class="c-block-item-link__icon">
                    <span><img src="/sites/overview-page/assets/media/icons/Out-of-sync.svg" /></span>
                </div>
                <div class="c-block-item-link__text">
                    out of sync
                </div>
            </div>
        </div>
        <div class="c-icons__item">
            <div class="c-block-item__link">
                <div class="c-block-item-link__icon">
                    <span><img src="/sites/overview-page/assets/media/icons/Ongoing.svg" /></span>
                </div>
                <div class="c-block-item-link__text">
                    ongoing
                </div>
            </div>
        </div>
    </div>
</legend>