:root {
	--brand__color--primary: 0, 0, 0;
	--brand__color--secondary: 255, 255, 255;
	--brand__color--white: 255, 255, 255;
	--brand__color--black: 0, 0, 0;
	--brand__color--text: 0, 0, 0;
	--brand__color--grey-light: 211, 211, 211;
	--brand__color--grey-lighter: 240, 240, 240;
	--brand__color--accent: 245, 209, 174;

	--brand__typography-h1--font-family: Nunito Sans;
	--brand__typography-h1--font-family-extended: Nunito Sans-Black;
	--brand__typography-h1--font-size: 60px;
	--brand__typography-h1--font-weight: 900;
	--brand__typography-h1--line-height: 110%;
	--brand__typography-h1--letter-spacing: -2%;
	--brand__typography-h1--color: #000000;
	--brand__typography-h1--margin-bottom: 20px;
	--brand__typography-h1--text-decoration: none;
	--brand__typography-h1-mobile--font-family: Nunito Sans;
	--brand__typography-h1-mobile--font-family-extended: Nunito Sans-Black;
	--brand__typography-h1-mobile--font-size: 30px;
	--brand__typography-h1-mobile--font-weight: 900;
	--brand__typography-h1-mobile--line-height: 110%;
	--brand__typography-h1-mobile--letter-spacing: -1%;
	--brand__typography-h1-mobile--color: #000000;
	--brand__typography-h1-mobile--margin-bottom: 20px;
	--brand__typography-h1-mobile--text-decoration: none;
	--brand__typography-h2--font-family: Nunito Sans;
	--brand__typography-h2--font-family-extended: Nunito Sans-Black;
	--brand__typography-h2--font-size: 55px;
	--brand__typography-h2--font-weight: 900;
	--brand__typography-h2--line-height: 100%;
	--brand__typography-h2--letter-spacing: -2%;
	--brand__typography-h2--color: #000000;
	--brand__typography-h2--margin-bottom: 20px;
	--brand__typography-h2--text-decoration: none;
	--brand__typography-h2-mobile--font-family: Nunito Sans;
	--brand__typography-h2-mobile--font-family-extended: Nunito Sans-Black;
	--brand__typography-h2-mobile--font-size: 28px;
	--brand__typography-h2-mobile--font-weight: 900;
	--brand__typography-h2-mobile--line-height: 100%;
	--brand__typography-h2-mobile--letter-spacing: -1%;
	--brand__typography-h2-mobile--color: #000000;
	--brand__typography-h2-mobile--margin-bottom: 20px;
	--brand__typography-h2-mobile--text-decoration: none;
	--brand__typography-h3--font-family: Nunito Sans;
	--brand__typography-h3--font-family-extended: Nunito Sans-Regular;
	--brand__typography-h3--font-size: 45px;
	--brand__typography-h3--font-weight: 400;
	--brand__typography-h3--line-height: 120%;
	--brand__typography-h3--letter-spacing: 0px;
	--brand__typography-h3--color: #000000;
	--brand__typography-h3--margin-bottom: 20px;
	--brand__typography-h3--text-decoration: none;
	--brand__typography-h3--text-transform: normal;
	--brand__typography-h3-mobile--font-family: Nunito Sans;
	--brand__typography-h3-mobile--font-family-extended: Nunito Sans-Bold;
	--brand__typography-h3-mobile--font-size: 25px;
	--brand__typography-h3-mobile--font-weight: 700;
	--brand__typography-h3-mobile--line-height: 100%;
	--brand__typography-h3-mobile--letter-spacing: 0px;
	--brand__typography-h3-mobile--color: #000000;
	--brand__typography-h3-mobile--margin-bottom: 20px;
	--brand__typography-h3-mobile--text-decoration: none;
	--brand__typography-h3-mobile--text-transform: normal;
	--brand__typography-h4--font-family: Nunito Sans;
	--brand__typography-h4--font-family-extended: Nunito Sans-Bold;
	--brand__typography-h4--font-size: 30px;
	--brand__typography-h4--font-weight: 700;
	--brand__typography-h4--line-height: 120%;
	--brand__typography-h4--letter-spacing: 0px;
	--brand__typography-h4--color: #000000;
	--brand__typography-h4--margin-bottom: 10px;
	--brand__typography-h4--text-decoration: none;
	--brand__typography-h4--text-transform: normal;
	--brand__typography-h4-mobile--font-family: Nunito Sans;
	--brand__typography-h4-mobile--font-family-extended: Nunito Sans-Bold;
	--brand__typography-h4-mobile--font-size: 20px;
	--brand__typography-h4-mobile--font-weight: 700;
	--brand__typography-h4-mobile--line-height: 100%;
	--brand__typography-h4-mobile--letter-spacing: 0px;
	--brand__typography-h4-mobile--color: #000000;
	--brand__typography-h4-mobile--margin-bottom: 10px;
	--brand__typography-h4-mobile--text-decoration: none;
	--brand__typography-h4-mobile--text-transform: normal;
	--brand__typography-h5--font-family: Nunito Sans;
	--brand__typography-h5--font-family-extended: Nunito Sans-Bold;
	--brand__typography-h5--font-size: 18px;
	--brand__typography-h5--font-weight: 700;
	--brand__typography-h5--line-height: 140%;
	--brand__typography-h5--letter-spacing: 0px;
	--brand__typography-h5--color: #000000;
	--brand__typography-h5--margin-bottom: 10px;
	--brand__typography-h5--text-decoration: none;
	--brand__typography-h5-mobile--font-family: Nunito Sans;
	--brand__typography-h5-mobile--font-family-extended: Nunito Sans-Bold;
	--brand__typography-h5-mobile--font-size: 18px;
	--brand__typography-h5-mobile--font-weight: 700;
	--brand__typography-h5-mobile--line-height: 140%;
	--brand__typography-h5-mobile--letter-spacing: 0px;
	--brand__typography-h5-mobile--color: #000000;
	--brand__typography-h5-mobile--margin-bottom: 10px;
	--brand__typography-h5-mobile--text-decoration: none;
	--brand__typography-h6--font-family: Nunito Sans;
	--brand__typography-h6--font-family-extended: Nunito Sans-Regular;
	--brand__typography-h6--font-size: 18px;
	--brand__typography-h6--font-weight: 400;
	--brand__typography-h6--line-height: 140%;
	--brand__typography-h6--letter-spacing: 0px;
	--brand__typography-h6--color: #000000;
	--brand__typography-h6--margin-bottom: 10px;
	--brand__typography-h6--text-decoration: none;
	--brand__typography-h6-mobile--font-family: Nunito Sans;
	--brand__typography-h6-mobile--font-family-extended: Nunito Sans-Regular;
	--brand__typography-h6-mobile--font-size: 18px;
	--brand__typography-h6-mobile--font-weight: 700;
	--brand__typography-h6-mobile--line-height: 140%;
	--brand__typography-h6-mobile--letter-spacing: 0px;
	--brand__typography-h6-mobile--color: #000000;
	--brand__typography-h6-mobile--margin-bottom: 10px;
	--brand__typography-h6-mobile--text-decoration: none;
	--brand__typography-p--font-family: Nunito Sans;
	--brand__typography-p--font-family-extended: Nunito Sans-Regular;
	--brand__typography-p--font-size: 16px;
	--brand__typography-p--font-weight: 400;
	--brand__typography-p--line-height: 140%;
	--brand__typography-p--letter-spacing: 0px;
	--brand__typography-p--color: #000000;
	--brand__typography-p--margin-bottom: 20px;
	--brand__typography-p--text-decoration: none;
	--brand__typography-p-bold--font-family: Nunito Sans;
	--brand__typography-p-bold--font-family-extended: Nunito Sans-Bold;
	--brand__typography-p-bold--font-size: 16px;
	--brand__typography-p-bold--font-weight: 700;
	--brand__typography-p-bold--line-height: 140%;
	--brand__typography-p-bold--letter-spacing: 0px;
	--brand__typography-p-bold--color: #000000;
	--brand__typography-p-bold--margin-bottom: 20px;
	--brand__typography-p-bold--text-decoration: none;
	--brand__typography-text-link--font-family: Nunito Sans;
	--brand__typography-text-link--font-family-extended: Nunito Sans-Regular;
	--brand__typography-text-link--font-size: 16px;
	--brand__typography-text-link--font-weight: 400;
	--brand__typography-text-link--line-height: 32px;
	--brand__typography-text-link--letter-spacing: 0;
	--brand__typography-text-link--color: #000000;
	--brand__typography-text-link--margin-bottom: 10px;
	--brand__typography-text-link--text-decoration: underline;

	--brand__spacing--tiny: 10px;
	--brand__spacing--small: 20px;
	--brand__spacing: 30px;
	--brand__spacing--large: 60px;
	--brand__spacing--medium: 80px;
	--brand__spacing--huge: 120px;
}