.c-rich-text {
	--brand__link--color: var(--brand__typography-text-link--color);
	--brand__link--text-decoration: var(--brand__typography-text-link--text-decoration);
	--brand__link--text-underline-offset: 1px;
	--brand__link--text-decoration-thickness: 2px;
}
