.production-overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    --brand__typography-h2--text-transform: uppercase;

    ul {
        display: grid;
        grid-gap: var(--production-overview--grid-gap, var(--brand__spacing));
        grid-template-columns: var(--production-overview-ul--gtc);
        @include list-unstyle();
        margin-block-start: var(--brand__spacing);

        @include mq($from: tablet) {
            --production-overview-ul--gtc: 1fr 1fr 1fr;
        }
    }

    li {
        border-radius: var(--brand__border-radius);

        &:hover {
            --production__body-after--right: 10px;
            cursor: pointer;
        }
    }
}

.production-overview__info {
    padding-block-start: var(--brand__spacing);
    text-align: center;
    font-size: 14px;
    font-style: italic;
}

.a-production {
    display: flex;
    align-items: center;
    transition: 0.5s ease;

    &::before {
        display: var(--production-before--display, inline-block);
        content: '';
        @include absolute(null, 0, 0, 0, 1);
        width: 100%;
        height: 40%;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.8));
        background-repeat: no-repeat;
        border-radius: var(--brand__border-radius);
    }

    &:hover {
        --production__media-img--transform: scale(1.05);
    }
}

.a-production__icon {
    @include absolute(-30px, null, null, 50%);
    transform: translateX(-50%);
}

.a-production__media {
    display: flex;
    border-radius: 5px;
    overflow: hidden;

    img {
        border-radius: var(--brand__border-radius);
        transform: var(--production__media-img--transform);
        transition: 0.3s ease;
    }
}

.a-production__body {
    display: flex;
    flex-direction: column-reverse;
    @include absolute(0, 0, 0, 0, 1);
    padding: var(--production__body--padding, var(--brand__spacing--small));
    background-color: var(--production__body--bc, rgba(var(--brand__color--black), 0.2));
    transition: 0.5 ease;
    border-radius: 5px;

    @include mq($from: desktop) {
        --production__body--padding: var(--brand__spacing);
    }

    &::after {
        content: "";
        display: inline-block;
        @include absolute(null, var(--production__body-after--right, 20px), 20px, null);
        width: 22px;
        height: 18px;
        background-color: rgb(var(--brand__color--white));
        -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 18'%3E%3Cpath d='M12.6872 0L11.5559 1.13135L18.2327 7.80821L0.0498263 8.39475L0 9.94014L18.1829 9.35359L11.0609 16.4756L12.1216 17.5362L21.1725 8.48526L12.6872 0Z'/%3E%3C/svg%3E") no-repeat center;
        mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 18'%3E%3Cpath d='M12.6872 0L11.5559 1.13135L18.2327 7.80821L0.0498263 8.39475L0 9.94014L18.1829 9.35359L11.0609 16.4756L12.1216 17.5362L21.1725 8.48526L12.6872 0Z'/%3E%3C/svg%3E") no-repeat center;
        -webkit-mask-size: contain;
        mask-size: contain;
        transition: 0.3s ease;
    }
}

.a-production__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.a-production__info {
    @include absolute(var(--brand__spacing--small), var(--brand__spacing--small), null, null);
}

.a-production__title {
    position: relative;
    display: flex;
    justify-content: var(--production__title--jc, space-between);
    text-transform: uppercase;
    padding-inline-end: var(--brand__spacing);
    --brand__typography-p--color: rgb(var(--brand__color--white));
    --set-brand__typography-h4--font-size: 16px;
    --set-brand__typography-h4--font-weight: 900;
    --brand__typography-h4--color: rgb(var(--brand__color--white));
    --brand__typography-h4--margin-bottom: 0;

    h3 {
        font-size: 16px;
        line-height: 105%;
        font-weight: 900;
    }
}

.a-production__info {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    --brand__typography-p--color: rgb(var(--brand__color--white));
}

.a-production__genre {
    background-color: rgb(var(--brand__color--black));
    padding: calc(var(--brand__spacing--tiny)/2) var(--brand__spacing--tiny);
    border-radius: calc(var(--brand__border-radius) / 2);
    margin-inline-start: auto;
    line-height: 1;
}

.a-production__text {
    display: flex;
    align-items: center;
}