.homepage-hero {
	--hero-banner--min-height: 400px;
}

.hero-banner {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	place-items: end stretch;
	overflow: hidden;
	min-height: var(--set-hero-banner--min-height, var(--hero-banner--min-height, 300px));

	@include mq($from: large) {
		--hero-banner--min-height: var(--hero-banner-large--min-height, 550px);
		align-items: center;
	}
}

.hero-banner__bg {
	grid-row: 1;
	grid-column: 1;
	align-self: stretch;
	@include absolute(0, 0, 0, 0, 1);
	background: url('/assets/media/images/hero-placeholder.avif') center/cover no-repeat;

	&::before {
		display: block;
		content: "";
		@include absolute(0, 0, 0, 0, 1);
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 1));
		background-repeat: no-repeat;
	}
}

.hero-banner__content {
	padding: var(--hero-banner__content--padding, calc(var(--brand__spacing--huge) + var(--brand__spacing--large)) var(--brand__spacing) var(--brand__spacing--large) var(--brand__spacing));
	z-index: 2;
	margin: 0 auto;
	text-align: center;
	--brand__typography-h1--color: rgb(var(--brand__color--white));
	--brand__typography-h1--margin-bottom: 0;

	@include mq($from: large) {
		--hero-banner__content--padding: var(--brand__spacing);
		min-width: 860px;
		max-width: 860px;
	}
}

.subtitle {
	font-weight: 300;
	font-size: 30px;
	line-height: 1.2;
	color: rgb(var(--brand__color--white));
	margin-block-start: var(--brand__spacing--small);
}

.hero-banner__cta {
	margin-block-start: var(--brand__spacing--large);
	--brand__btn-primary--background-color: rgb(var(--brand__color--white));
	--brand__btn-primary--color: rgb(var(--brand__color--black));
}

/* ---------------------------- */
/* Below-the-fold optimization */

section:not(.c-homepage-intro) {
	content-visibility: auto;
	contain-intrinsic-size: 800px;
}