.slider {
    height: 350px;
    min-height: 350px;
    max-height: 350px;

    .swiper-wrapper {
        transition-timing-function: linear !important;
    }

    .swiper-slide {
        pointer-events: none;
    }

    ul {
        @include list-unstyle();
        height: 350px;
        min-height: 350px;
        max-height: 350px;
    }

    li {
        height: 350px;
        min-height: 350px;
        max-height: 350px;

        img {
            height: 350px;
            min-height: 350px;
            max-height: 350px;
            border-radius: var(--brand__border-radius);
            background-color: rgba(var(--brand__color--white), 0.2);
        }
    }
}