.video {
    display: block;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    video {
        position: relative;
        display: block;
        width: 100%;
        height: 150px;
        min-height: 150px;
        max-height: 150px;
    }
}