.production-overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    --brand__typography-h2--text-transform: uppercase;

    ul {
        display: grid;
        grid-gap: var(--production-overview--grid-gap, var(--brand__spacing--large));
        grid-template-columns: var(--production-overview-ul--gtc);
        @include list-unstyle();
        margin-block-start: var(--brand__spacing);

        @include mq($from: tablet) {
            --production-overview--grid-gap: var(--brand__spacing);
            --production-overview-ul--gtc: 1fr 1fr 1fr;
        }
    }

    li {
        border-radius: 5px;

        // &:hover {
        //     --production-before--display: inline-block;
        //     --production__body--bc: rgba(var(--brand__color--black), 0.35);
        // }
    }
}

.production-overview__info {
    padding-block-start: var(--brand__spacing);
    text-align: center;
    font-size: 14px;
    font-style: italic;
}

.a-production {
    display: flex;
    align-items: center;
    transition: 0.5 ease;

    &::before {
        display: var(--production-before--display, none);
        content: '';
        @include absolute(null, 0, 0, 0, 99);
        width: 100%;
        height: 5px;
        background-color: var(--production-before--bc);
        border-radius: 5px;
    }
}

.a-production__icon {
    @include absolute(-30px, null, null, 50%);
    transform: translateX(-50%);
}

.a-production__media {
    display: flex;

    img {
        border-radius: 5px;
    }
}

.a-production__body {
    display: flex;
    flex-direction: column-reverse;
    @include absolute(0, 0, 0, 0, 1);
    padding: var(--brand__spacing);
    background-color: var(--production__body--bc, rgba(var(--brand__color--black), 0.2));
    transition: 0.5 ease;
    border-radius: 5px;
}

.a-production__content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.a-production__info {
    display: flex;
    justify-content: var(--production__info--jc, space-between);
    width: 100%;
}

.a-production__title {
    display: flex;
    justify-content: var(--production__title--jc, space-between);
    text-transform: uppercase;
    --brand__typography-p--color: rgb(var(--brand__color--white));
    --brand__typography-h4--color: rgb(var(--brand__color--white));
    --brand__typography-h4--margin-bottom: 0;
    --brand__typography-p--color: rgb(var(--brand__color--white));
}

.a-production__info {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    --brand__typography-p--color: rgb(var(--brand__color--white));
}

.a-production__genre {
    background-color: rgb(var(--brand__color--black));
    padding: var(--brand__spacing--tiny) var(--brand__spacing--small);
    border-radius: var(--brand__border-radius);
}

.a-production__text {
    display: flex;
    align-items: center;
}